.BoxInformacoes-swiper-1 {
    width: 250px;
    height: 403px;
    background-color: black;
}

.BoxInformacoes-swiper-2 {
    width: 250px;
    height: 403px;
    background-color: black;
}

.BoxInformacoes-div {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}