.container-informacoes{
    display: flex;
    height: calc(100vh - 130px);
    align-items: center;
}

.BoxInformacoes-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 1;
}