
.card-interno{
    border-radius: 10px;
    background: #ffffff;
    width: 203px;
    height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 14px solid #dadada;
}
.img-icones{
    width: 30px;
}

.card-texto{
    font-size: 18px;
    margin: 10px;
}


@media only screen and (max-width: 1230px) {
    

    .card-interno{
        border-radius: 10px;
        background: #ffffff;
        width: 164px;
        height: 146px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 17px solid #dadada ;
    }
    
        .card-texto{
            font-size: 14px;
            margin: 10px;
        }

}

@media only screen and (min-width: 1231px) and (max-width:1320px) {
    .card-interno{
        border-radius: 10px;
        background: #ffffff;
        width: 174px;
        height: 156px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 20px solid #dadada ;
    }

    
    .card-texto{
        font-size: 16px;
        margin: 10px;
    }
}

    @media only screen and (max-width: 414px){
        .card-interno {
            width: 164px;
            height: 120px;
            border: 13px solid #dadada ;
        }
        .card-texto {
            font-size: 12px;
        }
    }

@media only screen and (max-height: 750px) and (max-width: 500px){
    .card-interno {
        width: 150px;
        height: 106px;
    }
    .card-texto {
        font-size: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .card-interno {
        width: 144px;
        height: 100px;
        border: 7px solid #dadada ;
    }
    .card-texto {
        font-size: 9px;
    }

    
    }