.card{
    border-radius: 25px;
    background: #ffffff;
    border: 3px solid #3261a8;
    width: 212px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card i{
    font-size: 34px;
}

@media only screen and (max-width: 1200px) {
    .card {
        width: 219px;
        height: 151px;
    }
}