
.card-interno{
    border-radius: 15px;
    background: #ffffff;
    width: 212px;
    height: 199px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #3261A8;
}
.img-icones{
    width: 30px;
}

.card-texto{
    font-size: 19px;
    margin: 10px;
}

@media only screen and (max-width: 1200px) {
    .card {
        width: 219px;
        height: 151px;
    }
    .card-texto{
        font-size: 17px;
        margin: 10px;
    }
}