.Carousel-img{
    position: fixed;
    width: 100%;
    z-index: 99;
}
.Carousel-informacoes-div{
    border-radius: 25px;
    background-color: #e1e1e1;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide-1{
    width: 100% !important;
}

/* .swiper-button-prev {
    left: 50% !important;
    transform: rotate(90deg);
    transform-origin: left center;
    top: 24%;
  }
  .swiper-button-next {
    left: 50% !important;
    margin-top: 136px;
    transform: rotate(90deg);
    transform-origin: left center;

  } */

.swiper-slide.swiper-slide-1.swiper-slide-next{
    height: 250px;
}

#frame-spec{
    overflow-y: hidden;
}

@media only screen and (max-width: 900px) {
    .Carousel-informacoes-div{
        display: none;
    }
}