.Carousel-img{
    position: fixed;
    width: 100%;
    z-index: 99;
}
.Carousel-informacoes-div{
    border-radius: 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide-1{
    width: 100% !important;
}

.swiper-slide.swiper-slide-1.swiper-slide-next{
    height: 250px;
}

#frame-spec{
    overflow-y: hidden;
}

@media only screen and (max-width: 900px) {
    .Carousel-informacoes-div{
        display: none;
    }
}