
.AltoContraste-div{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.AltoContraste-box{
    height: 38px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.AltoContraste-box-fechar{
    display: none;
}
.AltoContraste-button{
    cursor: pointer;
    border-radius: 25px;
    border: 0;
    display: flex;
    width: 52px;
    height: 36px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.AltoContraste-button:hover {
opacity: 1;
transform: translateY(0);
transition-duration: .35s;
}
  
.AltoContraste-button:active {
transform: translateY(2px);
transition-duration: .35s;
}


@media only screen and (max-width: 700px){
    .AltoContraste-div {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .AltoContraste-box{
        height: 37px;
        width: 80px;
        position: absolute;
        margin-top: 71px;
        border-radius: 12px;
        background-color: #dadada;
    }
}