
.BoxManual-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 88px;
    /* position: fixed; */
}

.rpv-core__viewer.rpv-core__viewer--light {
    position: fixed !important;
    margin-top: 87px;
}
.pdf-container{
    width: 97%;
    height: 668px;
    background-color: #ffffff;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-msg{
    width: 100%;
    color: red;
    font-size: 14px;
    font-weight: 600;
  }

button.rpv-core__minimal-button {
    background-color: white;
}
.rpv-core__inner-page {
    background-color: var(--cor-manual)!important;
}
.rpv-default-layout__toolbar {
    background-color: var(--cor-manual)!important;
    border: 0 !important;
}
.rpv-default-layout__sidebar-headers {
    background-color: var(--cor-manual)!important;
}
.rpv-default-layout__sidebar--ltr {
    border: 0 !important;
}
.rpv-default-layout__container {
    border: 0 !important;
}
.rpv-default-layout__sidebar-content--ltr {
    border: 0 !important;
}

@media  screen and (max-height: 700px) {
    .pdf-container {
        width: 98%;
        height: 463px;
        margin-top: 5%;
    }

}

