.box-login-mk-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box-login-mk-login {
  position: absolute;
  width: 442px;
  height: 378px;
  margin-top: 10%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-login-mk-input-user {
  width: 328px;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.box-login-mk-form {
  height: 284px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.box-login-mk-input {
  border: 0 none;
  outline: 0;
  width: 281px;
  height: 35px;
}

.box-login-mk-input-fake {
  width: 356px;
  height: 2px;
  border-radius: 28px;
  background-color: var(--cor-borda-input);
}


.box-login-mk-button {
  align-items: center;
  background-color: #03A66C;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  width: 148px;
}

.box-login-mk-button:hover,
.box-login-mk-button:focus {
  background-color: #028155;
  color: #ffffff;
}

.box-login-mk-button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.box-login-mk-button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}


@media only screen and (max-width: 700px) {
  .box-login-mk-login {
    /* width: 46%; */
    margin-top: 38%;
  }
}