.BoxMontagem-div {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.montagem-components {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    width: 84%;
}

.img-principal-div {
    border-radius: 10px;
    border: 3.5px solid #3261A8;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.montagem-span{
    border-radius: 10px;
    width: 100%;
    background-color: #D2D2D2;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-principal {
    width: 300px;
    height: 250px;
    cursor: pointer;

}

.img-fixa-montagem-div {
    justify-content: center;
    align-items: center;
    height: 534px;
}

.img-fixa-montagem {
    width: 100%;
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.356) 0px 7px 29px 0px; */

}

.direction-div {
    display: flex;
}

.box-imgs-montagem-div {
    width: 250px;
    height: 727px;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}

.div-imgs-montagem {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imgs-montagem {
    width: 190px;
    height: 140px;
    cursor: pointer;
}

.imgs-montagem:hover {
    opacity: 0.7;
}

.swiper {
    /* width: 300px; */
    height: 70vh;
    /* overflow-y: scroll; */
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .imgs-montagem {
    display: block;
    /* width: 100%; */
    /* height: 100%; */
    object-fit: contain;
    height: auto;
    height: 137px;

}

.swiper-web {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.swiper-mobile {
    display: none;
}

.swiper-montagem .swiper-button-prev {       
    left: 50% !important;
    top: 0.5% !important;
    transform: rotate(90deg);
    transform-origin: left center;
    color: black;
    color: var(--cor-texto);
    
  }
  .swiper-montagem .swiper-button-next{
    left: 50% !important;
    bottom: 0.5% !important;
    transform: rotate(90deg);
    transform-origin: left center;
    top:auto;
    color: black;
    color: var(--cor-texto);
  }

.swiper-montagem .swiper-button-next:after,
.swiper-montagem .swiper-button-prev:after {
    font-size: 35px !important;
    color: black;
    color: var(--cor-texto);
    
}

@media only screen and (max-width: 1552px) {
    .img-principal-div {
        display: none ;
    }
    .img-fixa-montagem-div {
        height: 357px;
    }

}

@media  screen and (max-height: 850px) {
    .img-fixa-montagem {
        height: 100%;
    }
    .box-imgs-montagem-div {
        height: 100%;
        width: 200px;
    }
    .imgs-montagem {
        width: 131px;
    }
    .img-principal-div {
        display: inline ;
        height: 220px;
        display: flex;
    }
    .img-principal {
        width: 199px;
        height: 158px;
    }
    .montagem-span {
        width: 165px;
        /* height: 164px; */
    }

    @media only screen and (min-width: 360px) and (max-height:812px) {

        .montagem-components {
        height: 480px;
        }
        .img-fixa-montagem {
        width: 270px;
        height: 270px;
        }
        .swiper-slide .imgs-montagem {
        height: 135px;
        }
        
        }
    
@media only screen and (min-width: 760px) and (max-width:850px){

.montagem-components {
height: 800px;
}

.swiper-slide .imgs-montagem {
height: 220px;
}

.img-fixa-montagem {
width: 430px;
height: 430px;
}

}

@media only screen and (min-width: 780px) and (max-width:790px){
.img-fixa-montagem {
width: 430px;
height: 430px;
}
.montagem-components {
height: 800px;
}

.swiper-slide .imgs-montagem {
height: 220px;
}

}

@media only screen and (min-width: 520px) and (max-width:759px){
.img-fixa-montagem {
width: 430px;
height: 430px;
}
.montagem-components {
height: 800px;
}

.swiper-slide .imgs-montagem {
height: 220px;
}

}


@media only screen and (min-width:1020px ) and (min-height: 1360px){
.img-fixa-montagem {
width: 500px;
height: 500px;
}
.montagem-components {
height: 880px;
}

.swiper-slide .imgs-montagem {
height: 260px;
width: 332px;
}


}

@media only screen and (max-width:320px ) and (max-height: 568px){
.img-fixa-montagem {
width: 200px;
height: 200px;
}
.montagem-components {
height: 350px;
}

.swiper-slide .imgs-montagem {
height: 120px;
width: 120px;
}


}

@media only screen and (min-width: 400px) and (max-height:735px) {
.img-fixa-montagem {
width: 250px;
height: 250px;
}
.montagem-components {
height: 480px;
}
}



}

.direction-div-iped{
    height: 100% !important;
}


@media only screen and (max-width: 1161px) {
    .swiper-slide .imgs-montagem {
        display: block;
        /* width: 100%; */
        /* height: 100%; */
        object-fit: contain;
        height: auto;
        height: 190px;
    
    }

    .img-principal-div {
        display: none;
    }

    .montagem-components {
        display: flex;
        flex-direction: column;
        height: 750px;
        justify-content: space-between;
    }

    .direction-div {
        display: flex;
        width: 100%;
        height: 226px;
        align-items: center;
        flex-direction: row;
    }

    .img-fixa-montagem {
        width: 100%;
        height: 303px;
    }

    .box-imgs-montagem-div {
        width: 100%;
        height: 70%;
    }

    .div-imgs-montagem {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 95%;
    }

    .swiper-vertical>.swiper-wrapper {
        flex-direction: row !important;
        display: flex !important;
        align-items: center !important;
        color: var(--cor-texto);
    }

    .swiper-web {
        display: none;
    }

    .swiper-mobile {
        display: block;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 95%;
    }

    .img-fixa-montagem {
        height: 401px;
    }


    .imgs-montagem {
        width: 230px;
        height: 180px;
        cursor: pointer;
    }

}


@media only screen and (max-width:375px) and (max-height:790px) {
    .img-fixa-montagem {
        width: 250px;
        height: 250px;
    }
    .montagem-components {
        height: 455px;
}
.swiper-slide .imgs-montagem {
    height: 190px;
    width: 140px;


@media only screen and (max-width: 320px) {
    .img-fixa-montagem {
        width: 300px;
        height: 300px;

    }

    .montagem-components {
        height: 610px;
}
.swiper-slide .imgs-montagem {
    height: 190px;
    width: 180px;
    }

    .direction-div {
        height: 210px;
    }

    .imgs-montagem {
        width: 109px;
    }


}

@media only screen and (max-width:320px) and (max-height:568px) {
    .img-fixa-montagem {
        width: 210px;
        height: 210px;
    }
    .montagem-components {
        height: 390px;
}

.swiper-slide .imgs-montagem {
    height: 125px;
    width: 130px;

}
}

